$background: #656565;
$textColor: #A6D3A0;
$flagCellColor: #808782;
$flagIconColor: #A6D3A0;
$bombColor: red;
$clearedColor: $background;
$cellColor: #A6D3A0;

body {
  background-color: $background;
}

div.board {
  display: flex;
  flex-wrap: wrap;
  /* -webkit-box-pack: center; */
  justify-content: center;
  margin: 10px auto 0px;
  width: 414px;
  .cell {
    background-color: $cellColor;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    outline: none;
    width: 42px;
    height: 42px;
    &.cleared {
      background-color: $clearedColor;
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
      color: $textColor;
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin: 2px;
      outline: none;
      width: 42px;
      height: 42px;
    }
    &.flagged {
      background-color: $flagCellColor;
      svg {
        fill: $flagIconColor;
      }
    }
    svg {
      fill: $textColor;
    }
  }
}