$background: #656565;
$textColor: #A6D3A0;
$flagCellColor: #808782;
$flagIconColor: #A6D3A0;
$bombCellColor: #C47297;
$bombIconColor: black;
$clearedColor: $background;
$cellColor: #A6D3A0;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
}

div.game--info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $textColor;
  .info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    svg {
      width: 15px;
      fill: $textColor;
    }
  }
}

div.board {
  display: flex;
  justify-content: center;
  margin: 10px auto 0px;
  width: 414px;
  .cell {
    background-color: $cellColor;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    outline: none;
    width: 42px;
    height: 42px;
    &.cleared {
      background-color: $clearedColor;
      color: $textColor;
      font-family: 'Montserrat', sans-serif;
    }
    &.mine {
      background-color: $bombCellColor;
      svg {
        fill: $bombIconColor;
      }
    }
    &.flagged {
      background-color: $flagCellColor;
      svg {
        fill: $flagIconColor;
      }
    }
    svg {
      margin: 5px;
      fill: $textColor;
    }
  }
}